#header {
  height: var(--lumo-size-xs);
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
#header img#logo {
  height: var(--lumo-size-xl);
  margin-left: var(--lumo-space-s);
  margin-top: var(--lumo-space-xl);
}
#header img#avatar {
  border-radius: 50%;
  height: var(--lumo-size-m);
  margin-right: var(--lumo-space-m);
  margin-top: var(--lumo-space-l);
  overflow: hidden;
  margin-left: auto;
  background-color: var(--lumo-contrast);
}
vaadin-app-layout[dir='rtl'] vaadin-horizontal-layout #header img#avatar {
  margin-left: var(--lumo-space-m);
  margin-right: auto;
}

html {
  --lumo-primary-text-color: black;
  --lumo-primary-color: hsl(265, 90%, 52%);
  --lumo-primary-color-50pct: hsla(265, 90%, 52%, 0.5);
  --lumo-primary-color-10pct: hsla(265, 90%, 52%, 0.1);
}